.upload-org {
	text-align: center;
	width: 300px;
	height: 350px;
	border: 1px #ccc dashed;
	position: relative;
	overflow: hidden;

	&:hover {
		border: 1px #1890ff dashed;
	}

	img {
		width: 300px;
		height: 350px;
	}

	.upload-btn {
		z-index: 1;
		position: absolute;
		top: 65%;
		left: 35%;
	}

	.ant-upload-drag-icon {
		margin-top: 45%;
	}
}
