.product-detail-page {
	background-color: #fff;

	.pro-nav {
		width: 120px;
		height: 120px;
		overflow: hidden;
		position: fixed;
		left: 20px;
		top: 30%;
		z-index: 9999;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: 8px;

		.ant-anchor-link-title {
			width: 120px !important;
		}

		.ant-anchor {
			padding: 0 !important;
		}

		.anchor-nav,
		.ant-anchor-wrapper {
			margin: 0 !important;
		}

		.ant-affix {
			width: 120px !important;
			height: auto !important;
			left: 0 !important;
			top: 0 !important;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
			position: absolute !important;

			.ant-anchor-wrapper {
				height: auto !important;
				overflow: hidden;
				margin: 0 !important;
			}

			.ant-anchor-link {
				height: 40px;
				line-height: 40px;
				box-sizing: border-box;
				padding-top: 0;
				padding-bottom: 0;
				margin: 0;
			}
		}

		.ant-anchor-wrapper {
			background-color: rgba(255, 255, 255, 1);
			padding: 0;
			border-radius: 8px;
			overflow: hidden;

			.ant-anchor-ink {
				display: none;
			}

			.ant-anchor-link {
				height: 40px;
				line-height: 40px;
				padding: 0;
				text-align: center;
				border-bottom: 1px dashed #efefef;
			}

			.ant-anchor-link-active {
				background-color: #338be8;
				height: 40px;
				line-height: 40px;
				padding: 0;
				text-align: center;
				border-bottom: 1px dashed rgba(0, 0, 0, 0);

				a {
					color: #fff;
				}
			}
		}
	}

	.banner {
		width: 100%;
		max-width: 1920px;
		height: 480px;
		position: relative;
		margin: auto;

		.banner-bg-img {
			width: 100%;
			max-width: 1920px;
			margin: auto;
			height: 100%;
		}

		.banner-box {
			width: 1200px;
			padding: 0 20px;
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			margin-left: -600px;
			top: 0;
			z-index: 10;
			display: flex;
			justify-content: space-between;

			.img-box {
				width: 440px;
				position: relative;
				top: 84px;
				left: -40px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.product-box {
				width: 780px;
				position: relative;
				top: 34px;
				left: 95px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.banner-text {
				width: 600px;
				text-align: left;
				padding: 180px 40px 0 40px;
				box-sizing: border-box;

				h4 {
					font-size: 60px;
					color: #fff;
					text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
				}

				p {
					font-size: 24px;
					color: #fff;
					padding: 20px 0;
					line-height: 1.5;
				}
			}
		}
	}

	.join {
		width: 1200px;
		position: relative;
		top: -40px;
		margin: auto;
		background-color: #fff;
		border-radius: 8px;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

		li {
			display: inline-block;
			border-right: 1px solid #efefef;
			padding: 0 40px;

			a {
				display: block;
				border-radius: 4px;
				width: 160px;
				height: 40px;
				color: #fff;
				font-size: 14px;
				text-align: center;
				line-height: 40px;
				background: linear-gradient(left, #17a9f4, #0186e0);
				background: -webkit-linear-gradient(left, #17a9f4, #0186e0);
				position: relative;
				top: -20px;
			}

			p {
				font-size: 14px;
				color: #666;
				margin-bottom: 8px;

				.iconfont {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					text-align: center;
					line-height: 22px;
					color: #fff;
					margin-right: 4px;
				}

				.red-bg {
					background-color: #f92456;
				}

				.yellow-bg {
					background-color: #ffb347;
				}

				.blue-bg {
					background-color: #14b5fd;
				}

				.green-bg {
					background-color: #30db81;
				}
			}

			h4 {
				font-size: 18px;
				color: #222;
				font-weight: 400;
			}
		}

		li:nth-last-of-type(1) {
			border-right: none;
		}
	}

	.product-main {
		width: 1200px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;

		.img-box {
			width: 480px;
			height: 300px;
			background-color: #f9f9f9;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.product-main-right {
			width: 700px;
			height: 300px;

			.product-item-main {
				width: 100%;
				height: 130px;
				border-radius: 8px;
				padding: 0 20px;
				box-sizing: border-box;
				margin: auto;
				position: relative;
				margin-bottom: 40px;
				border: 1px solid #efefef;
				border-radius: 8px;
				background-color: #f9f9f9;

				h4 {
					width: 140px;
					height: 36px;
					border-radius: 0 0 8px 8px;
					font-size: 18px;
					font-weight: 300;
					color: #fff;
					background-color: #0085e0;
					text-align: center;
					line-height: 36px;
				}

				p {
					font-size: 14px;
					line-height: 2;
					color: #666;
					width: 100%;
					padding-top: 10px;
					font-weight: 300;
				}
			}
		}
	}

	.anchor-nav {
		width: 100%;
		text-align: center;
		padding-bottom: 10px;

		li {
			width: 138px;
			height: 44px;
			display: inline-block;

			a {
				font-size: 16px;
				padding: 15px 0;
				color: #999;
				border-bottom: 2px solid rgba(0, 0, 0, 0);
			}
		}

		.active {
			a {
				color: #0085e0;
				border-bottom: 2px solid #0085e0;
			}
		}
	}

	.product-item-one {
		img {
			width: 324px;
			height: auto;
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 20;
		}
	}

	.product-item-two {
		img {
			width: 400px;
			height: auto;
			position: absolute;
			right: -60px;
			bottom: -40px;
			z-index: 20;
		}
	}

	.process-box {
		width: 1200px;
		margin: auto;
		padding: 40px 0 0;

		.title-box {
			h4 {
				font-size: 30px;
				color: #333;
				text-align: center;
				padding-bottom: 15px;
			}

			p {
				width: 56px;
				height: 2px;
				background-color: #0085e0;
				margin: auto;
			}
		}

		.process-list {
			padding: 60px 40px;
			box-sizing: border-box;

			.process-item {
				width: 100%;
				cursor: pointer;
				display: flex;
				align-items: center;
				margin-bottom: 30px;
				transition: .2s;
				-webkit-transition: .2s;

				.spot {
					width: 10px;
					height: 10px;
					background-color: #efefef;
					box-shadow: 0 0 0 5px #faf9f9;
					border-radius: 50%;
				}

				.line {
					color: #efefef;
					font-size: 12px;
				}

				.text {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 980px;
					height: 40px;
					padding: 0 20px;
					box-sizing: border-box;
					color: #333;
					font-size: 14px;
					line-height: 40px;
					border-radius: 20px 20px 20px 0;
					background-color: #efefef;
				}

				&:hover {
					transition: .2s;
					-webkit-transition: .2s;

					.spot {
						width: 10px;
						height: 10px;
						background-color: #0085e0;
						box-shadow: 0 0 0 5px #caeaff;
						border-radius: 50%;
					}

					.line {
						color: #0085e0;
						font-size: 12px;
					}

					.text {
						width: 980px;
						height: 40px;
						padding: 0 20px;
						box-sizing: border-box;
						color: #fff;
						font-size: 14px;
						line-height: 40px;
						border-radius: 20px 20px 20px 0;
						background-color: #0085e0;
					}
				}
			}

			.btn {
				width: 200px;
				height: 40px;
				text-align: center;
				display: block;
				margin: 40px auto;
				border-radius: 4px;
				font-size: 14px;
				color: #333;
				line-height: 40px;
				border: 1px solid #efefef;

				&:hover {
					border: 1px solid #0085e0;
					background-color: #0085e0;
					color: #fff;
				}
			}
		}

		.process-item:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	.img-chart {
		text-align: center;
		padding: 40px 0 100px;

		img {
			max-width: 60%;
		}
	}

	.server-box {
		width: 100%;
		height: 500px;
		margin-top: 60px;
		box-sizing: border-box;
		position: relative;

		.section-bg-img {
			width: 100%;
			height: auto;
		}

		.title-box {
			width: 1200px;
			left: 50%;
			margin-left: -600px;
			top: 0;
			position: absolute;

			h4 {
				font-size: 30px;
				color: #333;
				text-align: center;
				padding-bottom: 15px;
			}

			p {
				width: 56px;
				height: 2px;
				background-color: #0085e0;
				margin: auto;
			}
		}

		.server-list {
			width: 1200px;
			left: 50%;
			margin-left: -600px;
			top: 60px;
			position: absolute;
			padding: 60px 20px 40px;
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;

			li {
				text-align: center;
				width: 25%;
				margin: 0 0 40px;

				.iconfont {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					text-align: center;
					line-height: 62px;
					font-size: 16px;
					color: #fff;
					background: linear-gradient(top, #17a9f4, #0186e0);
					background: -webkit-linear-gradient(top, #17a9f4, #0186e0);
					margin: auto;
				}

				p {
					font-size: 14px;
					line-height: 3;
				}
			}
		}
	}
}
