.page-mod{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    .page-ui{
        margin: auto;
        text-align: center;
        .ant-pagination-item-link{
            border-radius: 0 !important;
        }
        .ant-pagination-item{
            border-radius: 0 !important;
        }
        .ant-pagination-item-active{
            background-color: #2e88e8;
            a{
                color: #fff;
            }
        }
        .ant-pagination-options-quick-jumper input{
            border-radius: 0;
        }
    }
}