.news-item {
	width: 386px;
	height: 310px;
	background-color: #fff;
	border-radius: 4px 4px 30px 4px;
	padding: 5px 10px;
	box-sizing: border-box;
	margin-bottom: 40px;
	position: relative;
	transition: .2s;
	-webkit-transition: .2s;
	margin-bottom: 30px;
	margin-right: 20px;
	&:hover {
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
		transition: .2s;
		-webkit-transition: .2s;
	}
	.btn {
		width: 34px;
		height: 34px;
		color: #fff;
		text-align: center;
		line-height: 30px;
		font-size: 16px;
		border-radius: 50%;
		display: block;
		background-color: #0a67e4;
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.img-link {
		width: 368px;
		height: 225px;
		display: block;
		position: relative;
		top: -20px;
		border-radius: 4px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
			&:hover {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				transform: scale(1.2);
				-moz-transition: .5s;
				-webkit-transition: .5s;
				transition: .5s;
			}
		}
		.year {
			padding: 2px 10px;
			background-color: rgba(0, 0, 0, 0.6);
			font-size: 12px;
			color: #fff;
			position: absolute;
			left: 0;
			bottom: 10px;
			border-radius: 0 2px 2px 0;
		}
	}
	.content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 10px;
		.date {
			width: 82px;
			height: 54px;
			padding-right: 20px;
			position: relative;
			p:nth-of-type(1) {
				font-size: 48px;
				position: absolute;
				left: 0;
				top: 0;
				color: #333;
			}
			p:nth-of-type(2) {
				font-size: 36px;
				position: absolute;
				left: 50px;
				top: 16px;
				font-weight: 100;
				color: #e7e7e7;
			}
			p:nth-of-type(3) {
				font-size: 12px;
				position: absolute;
				right: 0px;
				bottom: 4px;
				color: #999;
			}
		}
		.texts {
			width: 256px;
			.title {
				width: 256px;
				display: block;
				font-size: 16px;
				color: #333;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				&:hove {
					text-decoration: underline;
				}
			}
			.text {
				width: 256px;
				font-size: 12px;
				color: #666;
				padding-top: 4px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				line-height: 2;
			}
		}
	}
}
.news-item:nth-of-type(3n) {
	margin-right: 0;
}
