.find-capital-containar {
	width: 100%;
	padding: 20px 0;
	background-color: #f8f8f8;

	.find-capital {
		width: 1200px;
		margin: auto;
		background-color: #fff;
		padding: 20px;
		box-sizing: border-box;

		.find-capital-top {
			width: 100%;
			height: 52px;

			h4 {
				float: left;
				border-left: 2px solid #2e88e8;
				font-size: 28px;
				text-indent: 6px;
			}

			p {
				width: 140px;
				height: 32px;
				text-align: center;
				line-height: 32px;
				background-color: #2e88e8;
				font-size: 12px;
				color: #fff;
				float: right;
				cursor: pointer;
			}
		}

		.find-capital-list:after {
			content: "";
			height: 0;
			line-height: 0;
			display: block;
			visibility: hidden;
			clear: both;
		}

		.find-capital-list {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.left {
				float: left;
				width: 378px;
				box-sizing: border-box;
				border: 1px solid #efefef;
				border-bottom: none;

				.find-capital-item {
					width: 376px;
					height: 285px;
					border-bottom: 1px solid #efefef;
					box-sizing: border-box;
					padding: 15px;
					position: relative;

					img {
						width: 100%;
						height: 100%;
					}

					h4 {
						position: absolute;
						right: 28px;
						top: 40px;
						color: #fff;
						font-size: 30px;
						font-weight: 400;
						text-shadow: 0 0 40px #083a70;
					}

					p {
						position: absolute;
						right: 30px;
						top: 80px;
						color: #fff;
						font-size: 14px;
						text-shadow: 0 0 40px #083a70;
					}
				}
			}

			.right:after {
				content: "";
				height: 0;
				line-height: 0;
				display: block;
				visibility: hidden;
				clear: both;
			}

			.right {
				float: right;
				box-sizing: border-box;
				border-top: 1px solid #efefef;

				.item {
					float: left;
					text-align: center;
					width: 260px;
					height: 190px;
					border-right: 1px solid #efefef;
					border-bottom: 1px solid #efefef;
					box-sizing: border-box;
					padding-top: 64px;
					cursor: pointer;

					&:hover {
						background-color: #2e88e8;

						.iconfont {
							color: #fff;
						}

						p {
							color: #fff;
						}
					}

					.iconfont {
						font-size: 50px;
						color: #999;
					}

					p {
						font-size: 16px;
						line-height: 2;
						color: #999;
					}
				}
			}
		}
	}
}
