.project-detail-page {
	width: 100%;
	.project-summary-main {
		width: 1200px;
		margin: auto;
	}
	.project-top-img {
		width: 100%;
		display: block;
		height: auto;
	}
	.left-main {
		width: 940px;
		float: left;
	}
	.right-main {
		width: 240px;
		float: right;
		background-color: #2e88e8;
		padding-bottom: 20px;
		border-radius: 8px 8px 0 0;
		overflow: hidden;
		.title {
			width: 100%;
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			color: #fff;
			font-weight: 200;
			padding: 0 20px;
			box-sizing: border-box;
			border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
		}
		img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			margin: 20px auto;
			display: block;
		}
		.name {
			font-size: 16px;
			text-align: center;
			color: #fff;
		}
		.text {
			font-size: 12px;
			line-height: 2;
			color: #fff;
			padding: 20px;
			box-sizing: border-box;
		}
		.btn {
			text-align: center;
			line-height: 36px;
			color: #666;
			text-align: center;
			display: block;
			width: 140px;
			height: 36px;
			border-radius: 4px;
			margin: 20px auto;
			background-color: #fff;
			font-size: 14px;
		}
	}
	.project-summary {
		width: 100%;
		height: 290px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
		.left {
			width: 448px;
			height: 290px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.right {
			width: 500px;
			height: 290px;
			padding-left: 20px;
			box-sizing: border-box;
			.title {
				font-size: 24px;
				font-size: 200;
			}
			.join {
				width: 100%;
				display: flex;
				padding: 10px 0;
				align-items: center;
				li {
					margin-right: 30px;
					text-align: center;
					p {
						font-size: 12px;
						padding: 4px 60px;
						border-radius: 40px;
						color: #fff;
						background-color: #3f96e2;
						margin-bottom: 6px;
					}
					h5 {
						font-size: 14px;
						color: #666;
					}
				}
				li:nth-last-of-type(1) {
					margin-right: 0;
				}
			}
			.assets {
				width: 100%;
				display: flex;
				align-items: center;
				border-radius: 4px;
				padding-bottom: 10px;
				li {
					width: 50%;
					padding: 10px 20px;
					background-color: #fafafa;
					border-radius: 4px;
					margin-right: 1px;
					min-height: 90px;
					p {
						font-size: 14px;
						color: #666;
						padding-bottom: 4px;
					}
					h5 {
						font-size: 16px;
						font-weight: 400;
						color: #f4064f;
						span {
							font-size: 24px;
						}
					}
				}
			}
			.assets-list {
				width: 100%;
				display: flex;
				align-items: center;
				border-radius: 4px;
				li {
					width: 50%;
					border-radius: 4px;
					margin-right: 1px;
					p {
						font-size: 14px;
						color: #666;
						padding-bottom: 4px;
					}
					h5 {
						font-size: 12px;
						font-weight: 400;
						span {
							font-size: 24px;
						}
					}
				}
			}
			.icon-text {
				font-size: 12px;
				line-height: 1.5;
			}
		}
	}
	.item-main {
		width: 100%;
		margin: auto;
		background-color: #fff;
		border-radius: 8px 8px 0 0;
		margin-bottom: 40px;
		padding-bottom: 10px;
		.item-top {
			width: 100%;
			height: 52px;
			border-bottom: 1px dashed #efefef;
			padding: 0 20px;
			.icon {
				padding: 0 20px;
				height: 40px;
				background-color: #2e88e8;
				float: left;
				line-height: 40px;
				border-radius: 0 0 8px 8px;
				.iconfont {
					font-size: 16px;
					color: #fff;
					margin-right: 4px;
				}
				span {
					font-size: 16px;
					color: #fff;
				}
			}
		}
		.item-content {
			padding: 20px;
			box-sizing: border-box;
			line-height: 25px;
			h4 {
				font-size: 18px;
				padding: 20px 0 10px;
			}
			h4:nth-of-type(1) {
				padding-top: 0;
			}
			p {
				font-size: 14px;
				line-height: 2;
				padding-bottom: 20px;
			}
		}
	}
	.recommend-title {
		font-size: 18px;
		padding-bottom: 20px;
	}
	.recommend {
		width: 100%;
		display: flex;
		// justify-content: space-between;
		margin-bottom: 30px;
		.item {
			width: 285px;
			text-align: center;
			float: left;
			border: 1px solid #efefef;
			box-sizing: border-box;
			margin-right: 20px;
			background-color: #fff;
			cursor: pointer;
			img {
				width: 100%;
				height: 180px;
			}
			h4 {
				font-size: 16px;
				padding: 10px 5px;
			}
			p {
				font-size: 14px;
				padding-bottom: 30px;
			}
		}
		.item:nth-last-of-type(1) {
			margin-right: 0;
		}
	}
}
