* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hm-t-container {
    display: none;
}

#topic-page {
    overflow: hidden;
    font-size: 2.67vw;
}

.topic-banner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50vw;
    overflow: hidden;
}

.topic-main {
    position: relative;
    z-index: 9;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    color: #FFF;
    background: #C51B07;
    box-sizing: border-box;
    text-align: justify;
    box-shadow: 0 -2px 50px 25px #C51B07;
    overflow: hidden;

    p {

        text-align: justify;

        &.line-1 {
            color: #F7D182;
            font-size: 5.33vw;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: "黑体";
            text-align: center;
            margin-bottom: 3vw;
        }

        &.line-2 {
            color: #F7D182;
            font-family: "黑体";
            text-align: center;
            font-size: 3.2vw;
            margin-top: 3vw;
        }

        &.line-3 {
            color: #F7D182;
            font-family: "黑体";
            text-align: center;
            font-size: 3.2vw;
        }

        &.line-4 {
            color: #F7D182;
            font-family: "黑体";
            text-align: center;
            font-size: 3.2vw;
            margin: 4.8vw 0 5.33vw;
        }

        &.line-5 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5.33vw;
        }

    }

    .to-register {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 29.33vw;
        height: 9vw;
        font-size: 4.27vw;
        color: #FFF;
        background-image: linear-gradient(139deg, #127EC8 0%, #0445AB 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 3px 0 rgba(255, 255, 255, 0.29);
        border-radius: 4.5vw;
    }

    .empty-divider {
        width: 100%;
        height: 10px;
    }

    .line-divider {
        width: 80%;
        height: 1px;
        margin: 0 auto;
        background: rgba(247, 209, 130, 0.26);
    }

    .intro-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.33vw;
        font-weight: bold;
        color: #F9ECBB;
        text-align: center;
        margin: 3.2vw 0;

        i {
            display: inline-flex;
            border-radius: 50%;
            background: #F9ECBB;
            margin: 0 2px;

            &:nth-child(1),
            &:nth-child(7) {
                width: .8vw;
                height: .8vw;
            }

            &:nth-child(2),
            &:nth-child(6) {
                width: 1.33vw;
                height: 1.33vw;
            }

            &:nth-child(3),
            &:nth-child(5) {
                width: 1.87vw;
                height: 1.87vw;
            }
        }

        span {
            margin: 0 4px;
        }
    }

    .intro-content {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 5.33vw 3.73vw;
        color: #555;
        font-size: 3.73vw;
        font-family: "黑体";
        line-height: 1.43;
        margin: 0 3.73vw;
    }

    .intro-guest {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: auto;

        >div {
            width: 33%;

            p {
                color: #F7D182;
                font-family: "黑体";
                text-align: center;
                font-size: 3.2vw;
                margin: 5px 0;

                &:nth-child(2) {
                    font-size: 4.8vw;
                    font-weight: bold;
                }
            }
        }
    }

    .intro-meeting {
        display: flex;
        flex-direction: column;
        margin-top: 5.33vw;

        img {
            display: flex;
        }
    }

    .sponsor-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 8.53vw 3.47vw 4.8vw;

        img {
            display: flex;
            width: 37.33vw;
            height: 16vw;
            margin: 0 2.73vw 5.33vw;
            background: #FFF;
            border: 1px solid #D8D8D8;
        }
    }

    .topic-form {
        padding: 8vw;

        .ant-col-6 {
            width: 25% !important;
        }

        .ant-col-17 {
            width: 70.83333333%!important;
        }

        .ant-form-item {
            .ant-form-item-label {
                margin-top: 10px;
            }

            label {

                &:after {
                    display: none;
                    content: "";
                }

                p {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .ant-form-item-required {
            &:before {
                display: none;
            }
        }

        .double-input {
            display: flex;
            justify-content: space-between;
        }

    }
}

.topic-navi {
    width: 18.4vw;
    height: auto;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 9999;

    .ant-anchor-wrapper {
        background: transparent;

        .ant-anchor-ink {
            &:before {
                background-color: transparent;
            }

            .ant-anchor-ink-ball {
                border: 2px solid #FFF;
            }
        }

        .ant-anchor-link {
            width: 100%;
            height: 6.93vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.60);
            border-radius: 4px;
            margin: 1vw 0;
            padding: 0;

            a {
                font-size: 3.2vw;
                color: #FFF;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-flex;

    svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 750px) {

    #topic-page {
        width: 750px;
        margin: 0 auto;
        overflow: hidden;
        font-size: 10px;
    }

    .topic-banner {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 375px;
        overflow: hidden;
    }

    .topic-main {
        position: relative;
        z-index: 9;
        width: 100%;
        height: auto;
        min-height: 100vh;
        padding: 0;
        color: #FFF;
        background: #C51B07;
        box-sizing: border-box;
        text-align: justify;
        box-shadow: 0 -2px 50px 25px #C51B07;
        overflow: hidden;

        p {

            text-align: justify;

            &.line-1 {
                color: #F7D182;
                font-size: 40px;
                font-weight: bold;
                letter-spacing: 2px;
                font-family: "黑体";
                text-align: center;
                margin-bottom: 22.5px;
            }

            &.line-2 {
                color: #F7D182;
                font-family: "黑体";
                text-align: center;
                font-size: 24px;
                margin-top: 22.5px;
            }

            &.line-3 {
                color: #F7D182;
                font-family: "黑体";
                text-align: center;
                font-size: 24px;
            }

            &.line-4 {
                color: #F7D182;
                font-family: "黑体";
                text-align: center;
                font-size: 24px;
                margin: 36px 0 40px;
            }

            &.line-5 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
            }

        }

        .to-register {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 67.5px;
            font-size: 32px;
            color: #FFF;
            background-image: linear-gradient(139deg, #127EC8 0%, #0445AB 100%);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 3px 0 rgba(255, 255, 255, 0.29);
            border-radius: 4.5vw;
        }

        .empty-divider {
            width: 100%;
            height: 10px;
        }

        .line-divider {
            width: 80%;
            height: 1px;
            margin: 0 auto;
            background: rgba(247, 209, 130, 0.26);
        }

        .intro-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            font-weight: bold;
            color: #F9ECBB;
            text-align: center;
            margin: 24px 0;
            letter-spacing: 3px;

            i {
                display: inline-flex;
                border-radius: 50%;
                background: #F9ECBB;
                margin: 0 4px;

                &:nth-child(1),
                &:nth-child(7) {
                    width: 6px;
                    height: 6px;
                }

                &:nth-child(2),
                &:nth-child(6) {
                    width: 8px;
                    height: 8px;
                }

                &:nth-child(3),
                &:nth-child(5) {
                    width: 10px;
                    height: 10px;
                }
            }

            span {
                margin: 0 8px;
            }
        }

        .intro-content {
            background: #FFFFFF;
            border-radius: 4px;
            padding: 40px 24px;
            color: #555;
            font-size: 24px;
            font-family: "黑体";
            line-height: 1.43;
            margin: 0 28px;
        }

        .intro-guest {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 100%;
            height: auto;

            >div {
                width: 33%;

                p {
                    color: #F7D182;
                    font-family: "黑体";
                    text-align: center;
                    font-size: 24px;
                    margin: 5px 0;

                    &:nth-child(2) {
                        font-size: 36px;
                        font-weight: bold;
                    }
                }
            }
        }

        .intro-meeting {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            img {
                display: flex;
            }
        }

        .sponsor-list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 64px 26px 36px;

            img {
                display: flex;
                width: 280px;
                height: 120px;
                margin: 0 20px 40px;
                background: #FFF;
                border: 1px solid #D8D8D8;
            }
        }

        .topic-form {
            padding: 60px;

            .ant-form-item-required {
                &:before {
                    display: none;
                }
            }

            .double-input {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .topic-navi {
        width: 140px;
        height: auto;
        position: fixed;
        top: 400px;
        left: 0;
        z-index: 9999;

        .ant-anchor-wrapper {
            background: transparent;

            .ant-anchor-ink {
                &:before {
                    background-color: transparent;
                }

                .ant-anchor-ink-ball {
                    border: 2px solid #FFF;
                }
            }

            .ant-anchor-link {
                width: 100%;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.60);
                border-radius: 4px;
                margin: 10px 0;
                padding: 0;

                a {
                    font-size: 24px;
                    color: #FFF;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
}