.user-header {
	width: 1300px;
	height: 72px;
	margin: auto;
	.logo {
		float: left;
		margin-right: 0px;
		margin-top: 0px;
		width: 440px;
		img {
			width: 100%;
		}
	}
	.nav-ul {
		float: left;
		li {
			display: inline-block;
			margin-right: 20px;
			a {
				color: #fff;
				font-size: 16px;
				line-height: 72px;
				&:hover {
					font-weight: 600;
					text-decoration: underline;
				}
			}
		}
	}
	.login-join {
		float: right;
		padding-top: 5px;
		font-size: 12px;
		a,
		span {
			color: #fff;
		}
		a {
			&:hover {
				font-weight: 600;
				text-decoration: underline;
			}
		}
		.iphone {
			font-size: 14px;
			font-weight: 600;
			color: orange;
		}
		span {
			margin: 0 4px;
		}
	}
}
