.product-page {
	padding-bottom: 40px;
	.banner-bg-img {
		width: 100%;
		height: auto;
		display: block;
	}
	.product-list {
		width: 1200px;
		background-color: #fff;
		margin: 20px auto;
		border-radius: 8px 8px 0 0;
		padding-bottom: 20px;
		.nav {
			height: 56px;
			border-bottom: 1px solid #efefef;
			padding: 0 20px;
			box-sizing: border-box;
			p {
				display: inline-block;
				color: #666;
				font-size: 14px;
				padding: 10px 20px;
				border-radius: 4px;
				cursor: pointer;
				margin-top: 10px;
			}
			.active {
				background-color: #0a67e4;
				color: #fff;
			}
		}
	}
}
