.product-item {
	width: 100%;
	position: relative;
	padding: 40px 20px;
	box-sizing: border-box;
	border-radius: 4px 4px 30px 4px;
	overflow: hidden;
	transition: .2s;
	-webkit-transition: .2s;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #efefef;
	&:hover {
		box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
		transition: .2s;
		-webkit-transition: .2s;
	}
	.img-link {
		width: 372px;
		height: 232px;
		display: block;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.product-text {
		width: 748px;
		.title {
			font-size: 28px;
			padding-bottom: 20px;
			line-height: 1;
		}
		.text-p {
			font-size: 14px;
			line-height: 1.5;
			padding-bottom: 20px;
		}
		.list {
			font-size: 12px;
			color: #666;
			line-height: 1.5;
		}
		.btns {
			width: 280px;
			height: 36px;
			display: flex;
			border: 1px solid #e7e7e7;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			position: absolute;
			bottom: -1px;
			left: 680px;
			.btn-a {
				width: 140px;
				height: 36px;
				display: block;
				text-align: center;
				line-height: 36px;
				background-color: #f9f9f9;
				font-size: 14px;
				color: #666;
				&:hover {
					background-color: #0a67e4;
					color: #fff;
				}
			}
			.btn-a:nth-of-type(1) {
				border-right: 1px solid #e7e7e7;
			}
		}
	}
}
