.releas-fund {
	padding: 44px 0 20px;
	.right-title {
		width: 100%;
		height: 44px;
		padding: 0 20px;
		box-sizing: border-box;
		font-size: 16px;
		background-color: #f9f9f9;
		line-height: 44px;
		border-radius: 6px 6px 0 0;
		border-bottom: 1px solid #e7e7e7;
		position: absolute;
		left: 0;
		top: 0;
	}
	.form-main {
		padding: 25px;
		box-sizing: border-box;
		.ant-form-item-children {
			span {
				margin: 0 6px;
			}
		}
		.ant-form-item {
			display: flex;
			.ant-form-item-label {
				width: 140px;
			}
			.ant-form-item-control-wrapper {
				min-width: 200px;
			}
			.ant-btn-primary {
				width: 120px;
				margin-left: 140px;
			}
		}
	}

	.upload-org {
		text-align: center;
		width: 400px;
		height: 250px;
		border: 1px #ccc dashed;
		position: relative;

		&:hover {
			border: 1px #1890ff dashed;
		}

		img {
			width: 400px;
			height: 250px;
		}

		.upload-btn {
			z-index: 1;
			position: absolute;
			top: 35%;
			left: 35%;
		}

		.ant-upload-drag-icon {
			margin: 0 auto;
			margin-top: 25%;
		}
	}
}
