.help-detail-main {
	width: 1200px;
	margin: auto;
	.help-content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		.left {
			width: 200px;
			background-color: #fff;
			border: 1px solid #e7e7e7;
			border-radius: 6px;
			overflow: hidden;
			.left-title {
				width: 100%;
				background-color: #2e8df3;
				color: #fff;
				text-align: center;
				line-height: 40px;
				border-bottom: 1px white dashed;
			}
			.nav-item {
				display: block;
				width: 100%;
				font-size: 14px;
				color: #333;
				border-bottom: 1px dashed #efefef;
				line-height: 40px;
				text-align: center;
			}
			.active {
				background-color: #f9f9f9;
			}
			.hotline {
				background-color: #2e8df3;
				padding: 40px 20px;
				box-sizing: border-box;
				.icon-name {
					width: 100%;
					display: flex;
					align-items: flex-end;
					padding-bottom: 10px;
					.iconfont {
						color: #fff;
						font-size: 24px;
						margin-right: 10px;
					}
					span {
						font-size: 14px;
						color: #fff;
					}
				}
				h4 {
					font-size: 22px;
					color: #fff;
				}
			}
		}
		.right {
			width: 980px;
			overflow: hidden;
			background-color: #fff;
			border: 1px solid #e7e7e7;
			border-radius: 6px;
			.list-title {
				width: 100%;
				text-indent: 20px;
				font-size: 16px;
				color: #333;
				line-height: 40px;
				border-bottom: 1px solid #e7e7e7;
				background-color: #f9f9f9;
			}
			.content-main {
				padding: 25px;
				box-sizing: border-box;
				.content-title {
					text-align: center;
					border-bottom: 1px dashed #efefef;
					padding: 25px;
					h4 {
						line-height: 2;
						font-size: 28px;
					}
					p {
						font-size: 12px;
						color: #999;
						padding-bottom: 25px;
					}
				}
				.content-text {
					padding: 30px;
					p {
						font-size: 14px;
						color: #666;
						line-height: 2;
						padding-bottom: 20px;
						text-indent: 28px;
					}
					img {
						text-align: center;
						max-width: 100%;
					}
				}
			}
		}
	}
}
