.service-news-containar {
	a {
		color: #666;
		&:hover {
			color: #1890ff;
		}
	}

	.service-box {
		width: 1200px;
		margin: auto;
		padding: 36px 0;

		.team-box-title {
			font-size: 28px;
			text-align: center;
		}

		.line {
			width: 100px;
			height: 2px;
			background-color: #2e88e8;
			margin: 20px auto;
		}

		.link-list {
			width: 100%;
			padding: 10px 0 10px;
			text-align: center;

			li {
				padding: 0 20px;
				border-right: 1px solid #e7e7e7;
				font-size: 14px;
				display: inline-block;
				cursor: pointer;

				&:hover {
					color: #2e88e8;
				}
			}

			li:nth-last-of-type(1) {
				border-right: none;
			}
		}

		.service-list {
			width: 100%;
			height: 80px;
			display: flex;
			justify-content: space-between;
			padding: 5px 0;

			.service-item {
				padding: 4px;
				box-sizing: border-box;

				img {
					width: 190px;
					height: 80px;
					cursor: pointer;
				}
			}
		}
	}

	.news-box {
		width: 100%;
		padding: 40px 0;
		background-color: #f8f8f8;

		.news-list {
			width: 1200px;
			height: 476px;
			display: flex;
			justify-content: space-between;
			margin: auto;

			.news-item {
				width: 380px;
				height: 476px;
				background-color: #fff;

				.type-title {
					width: 90%;
					margin: 15px auto;
					font-size: 22px;
					border-left: 2px solid #2e88e8;
					text-indent: 10px;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
						color: #2e88e8;
					}
				}

				.thumbnail {
					width: 100%;
					height: 185px;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						cursor: pointer;
					}

					.index-news-title {
						width: 100%;
						height: 40px;
						line-height: 40px;
						position: absolute;
						left: 0;
						bottom: 0;
						color: #fff;
						background-color: rgba(0, 0, 0, 0.6);
						font-size: 18px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						padding: 0 20px;
						box-sizing: border-box;
					}
				}

				.index-news-content {
					text-indent: 2;
					padding: 20px 20px 10px;
					box-sizing: border-box;
					font-size: 14px;
					line-height: 1.5;
					border-bottom: 1px dashed #efefef;
				}

				.news-sub-list {
					width: 100%;
					padding: 10px 20px 20px;
					box-sizing: border-box;

					li {
						width: 100%;
						height: 32px;
						font-size: 14px;
						line-height: 32px;
						display: flex;
						justify-content: space-between;
						cursor: pointer;

						&:hover {
							text-decoration: underline;
							color: #2e88e8;
						}

						p {
							padding: 0 !important;
						}
					}
				}
			}
		}
	}
}
