.index-nav {
  width: 120px;
  height: 240px !important;
  position: fixed;
  left: 20px;
  top: 30%;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  .find-capital{
    padding: 0 !important;
  }
  .ant-anchor-wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    border-radius: 8px;
    overflow: hidden;

    .ant-anchor-ink {
      display: none;
    }

    .ant-anchor-link {
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
      border-bottom: 1px dashed #efefef;
    }

    .ant-anchor-link-active {
      background-color: #338be8;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
      border-bottom: 1px dashed rgba(0, 0, 0, 0);

      a {
        color: #fff;
      }
    }
  }

  .ant-affix {
    width: 120px !important;
    height: auto !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute !important;

    .ant-anchor-wrapper {
      height: auto !important;
      overflow: hidden;
    }

    .ant-anchor-link {
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
