.user-page {
	width: 1200px;
	margin: auto;
	.title {
		height: 60px;
		line-height: 60px;
		font-size: 18px;
	}
	.user-main {
		width: 100%;
		display: flex;
		margin-bottom: 20px;
		justify-content: space-between;
		.left {
			width: 214px;
			.left-top {
				width: 100%;
				text-align: center;
				border-radius: 6px;
				border: 1px solid #efefef;
				background-color: #fff;
				padding: 25px;
				box-sizing: border-box;
				margin-bottom: 20px;
				.ant-avatar {
					display: block;
					margin: 0 auto 20px;
				}
				h4 {
					font-size: 12px;
					span {
						color: #2e8df3;
						font-size: 16px;
					}
				}
				p {
					font-size: 12px;
					padding: 10px 0 20px;
					a {
						color: orange;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.ant-btn {
					width: 100%;
					margin-bottom: 10px;
				}
			}
			.left-bottom {
				width: 100%;
				border-radius: 6px;
				border: 1px solid #efefef;
				background-color: #fff;
				box-sizing: border-box;
				.navitem {
					width: 100%;
					font-size: 14px;
					padding: 15px 0;
					cursor: pointer;
					&:hover {
						background-color: #f9f9f9;
					}
					p {
						height: 20px;
						line-height: 20px;
						border-left: 4px solid rgba(0, 0, 0, 0);
						text-indent: 10px;
					}
				}
				.active {
					border-top: 1px solid #efefef;
					border-bottom: 1px solid #efefef;
					p {
						border-left: 4px solid #2e8df3;
					}
				}
			}
		}
		.right {
			width: 970px;
			background-color: #fff;
			border-radius: 6px;
			border: 1px solid #efefef;
			position: relative;
		}
	}
}
